// margin-left: length|auto|initial|inherit;
// :root{
//   margin: 10px;
//   text-align: center;
// }

.field{
  width: 100%;
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
